<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Operations </th>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.id}}</td>
                <td>{{emp.fullname}}</td>
                <td>{{emp.address}}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(emp)">Delete</button>
                    <button class="btn btn-primary" (click)="updateUser(emp)">Edit</button></td>

            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="newUser()">Add New Employee</button>
    <div>